# Proyecto

## Integrantes

- Enrique Laguna Diaz
- Hector Aaron Ramirez Obregon
- Humberto Peñuelas Almeida

## Aclaracion
Debido a que creemos que los datos de nuestra primera entrega estan manipulados decidimos cambiar el tema del proyecto y el dataset.

## Unidad de observacion
Para esta nueva entrega de proyecto decidimos usar 3 unidades de observacion principales. El tipo de productor de energia (Type of producer) y el origen de la energia (Energy source) y el estado (State)

## Unidad de analisis
Para nuestra unidad de analisis nos basaremos en que los datos son de estados de los Estados Unidos de America (US). Entonces usaremos esto como nuestra unidad de analisis, Estados Unidos de America

## Preguntas de investigacion
- ¿Cual es el tipo de energia mas usado por los estados de US?
- ¿Cual es el mayor tipo de productor de energia?
- ¿Cual es el promedio de generacion de energia por estado?
- ¿Existe un aumento en el uso de energias limpias para la generacion de energia en los estados en los ultimos 5 años registrados?

## Justificacion del tipo de los datos
Los datos con los que estaremos trabajando para este nuevo proyecto son de tipo **longitudinales** y **de panel**. Esto es por las siguientes razones
- Los datos contienen fechas (años y meses)de cuando fueron registrados
- Se pueden clasificar por Estado, tipo de productor, tipo de energia. Estos estados se repiten durante los años registrados. Por esto se pueden catalogar como datos **de panel**, son para los mismos sujetos.
- Los datos van cambiando conforme el tiempo. Es poco probable que por la naturaleza de los datos un Estado produzca la  misma cantidad de energia en diferentes años registrados.

## Procesamiento de los datos

En esta parte del documento empezaremo con el importado y analisis de los datos. Tipo de datos, nombre de las columnas, limpieza de los datos, etc.

In [62]:
# importar librerias 
import pandas as pd
import numpy as np
import matplotlib as mat
import matplotlib.pyplot as plt

In [63]:
import os
wd = os.getcwd()
wd

'd:\\ITESO\\Semestre 9\\PorgramacionParaDatos\\Proyecto\\NuevoProyecto\\Codigo'

### Importar los datos

Los datos que usaremos estan distribuidos en dos datasets. El primero con la informacion sobre la  generacion de energia  de cada estado
y el segundo con la lista de nombres de estados que aparecen en el primer dataset

In [64]:
archivo = os.path.join(wd, '../DataSets/organised_Gen.csv')

energyDataset = pd.read_csv(archivo)
energyDataset

,Unnamed: 0,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,0,2001,1,AK,Total Electric Power Industry,Coal,46903.0
1,1,2001,1,AK,Total Electric Power Industry,Petroleum,71085.0
2,2,2001,1,AK,Total Electric Power Industry,Natural Gas,367521.0
3,3,2001,1,AK,Total Electric Power Industry,Hydroelectric Conventional,104549.0
4,4,2001,1,AK,Total Electric Power Industry,Wind,87.0
...,...,...,...,...,...,...,...
496769,10581,2022,5,WY,"Electric Generators, Electric Utilities",Coal,2071403.0
496770,10582,2022,5,WY,"Electric Generators, Electric Utilities",Hydroelectric Conventional,96790.0
496771,10583,2022,5,WY,"Electric Generators, Electric Utilities",Natural Gas,91570.0
496772,10584,2022,5,WY,"Electric Generators, Electric Utilities",Petroleum,1812.0
496773,10585,2022,5,WY,"Electric Generators, Electric Utilities",Wind,452913.0

In [65]:
## Renombrar columna energia
energyDataset = energyDataset.rename(columns={"GENERATION (Megawatthours)": "GENERATION"})

In [66]:
statesDataset = pd.read_csv("../DataSets/states.csv")
statesDataset

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

## Exploracion de los datos

### Tipo de datos

In [67]:
# Tipo de datos
energyDataset.dtypes

Unnamed: 0            int64
YEAR                  int64
MONTH                 int64
STATE                object
TYPE OF PRODUCER     object
ENERGY SOURCE        object
GENERATION          float64
dtype: object

In [68]:
statesDataset.dtypes

State     object
Abbrev    object
Code      object
dtype: object

### Informacion sobre los datos

In [69]:
energyDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496774 entries, 0 to 496773
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        496774 non-null  int64
 1   YEAR              496774 non-null  int64
 2   MONTH             496774 non-null  int64
 3   STATE             496774 non-null  object
 4   TYPE OF PRODUCER  496774 non-null  object
 5   ENERGY SOURCE     496774 non-null  object
 6   GENERATION        496774 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 26.5+ MB

In [70]:
statesDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   Abbrev  51 non-null     object
 2   Code    51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

## Tipo de datos encontrados
### Categoricos
Los datos categoricos que identificamos en nuestro dataset son los siguientes
- State (Nombre del estado) | Nominal
- Type of producer (Nombre del tipo de productor de energia) | Nominal
- Energy source (Nombre de la fuente de energia) | Nominal
### Numericos
Los datos numericos que identificamos en nuestro dataset son los siguientes
- Year (Año) | Continuos de intervalo
- Month (Mes) | Continous de intervalo
- Generation "Megawatts/hours" | Discretos

### Columnas de los datasets

In [71]:
energyDataset.columns

Index(['Unnamed: 0', 'YEAR', 'MONTH', 'STATE', 'TYPE OF PRODUCER',
       'ENERGY SOURCE', 'GENERATION'],
      dtype='object')

In [72]:
statesDataset.columns

Index(['State', 'Abbrev', 'Code'], dtype='object')

## Liempieza de datos (valores nulos, registros vacios, valores extraños)

In [73]:
energyDataset.isnull().sum()

Unnamed: 0          0
YEAR                0
MONTH               0
STATE               0
TYPE OF PRODUCER    0
ENERGY SOURCE       0
GENERATION          0
dtype: int64

In [74]:
energyDataset.isna().sum()

Unnamed: 0          0
YEAR                0
MONTH               0
STATE               0
TYPE OF PRODUCER    0
ENERGY SOURCE       0
GENERATION          0
dtype: int64

In [75]:
statesDataset.isnull().sum()

State     0
Abbrev    0
Code      0
dtype: int64

In [76]:
statesDataset.isna().sum()

State     0
Abbrev    0
Code      0
dtype: int64

In [77]:
registersBellowCero = energyDataset.loc[energyDataset['GENERATION'] <= 0]
index = registersBellowCero.index
numberOfRowsBelowCero = len(index)
registersBellowCero

,Unnamed: 0,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION
84,84,2001,1,AZ,Total Electric Power Industry,Solar Thermal and Photovoltaic,0.0
93,93,2001,1,AZ,"Electric Generators, Electric Utilities",Solar Thermal and Photovoltaic,0.0
94,94,2001,1,AZ,"Electric Generators, Electric Utilities",Other Biomass,0.0
118,118,2001,1,CA,Total Electric Power Industry,Pumped Storage,-36255.0
127,127,2001,1,CA,"Electric Generators, Electric Utilities",Geothermal,-45.0
...,...,...,...,...,...,...,...
496707,10519,2022,5,WI,"Electric Generators, Independent Power Producers",Petroleum,-11.0
496726,10538,2022,5,WV,Total Electric Power Industry,Other,-1099.0
496738,10550,2022,5,WV,"Electric Generators, Independent Power Producers",Other,-1099.0
496739,10551,2022,5,WV,"Electric Generators, Independent Power Producers",Petroleum,0.0
496765,10577,2022,5,WY,"Electric Generators, Independent Power Producers",Natural Gas,0.0

In [78]:
numberOfRowsBelowCero

44323

In [79]:
energyDataset.to_csv('Clean_organised_Gen.csv', header=False, index= True, encoding='utf-8')

### Hallazgo
Al parecer hay registros que tienen energia negativa o energia igual a 0. Procederemosa eliminar esos datos ya que podrian afectar nuestros resultados en un futuro

In [80]:
energyDataset = energyDataset[energyDataset["GENERATION"] > 0]

## Hallazgo
Nuestros dataset estan completos, con esto nos referimos a que no hay datos faltantes en ninguna de las columnas. Sinceramente es la primera vez que vemos un Dataset completo. El dataset con el que trabajamos anteriormente tenia bastantes datos faltantes

## Estadistica descriptiva de las columnas (analisis Univariado)

In [81]:
energyDataset.dtypes

Unnamed: 0            int64
YEAR                  int64
MONTH                 int64
STATE                object
TYPE OF PRODUCER     object
ENERGY SOURCE        object
GENERATION          float64
dtype: object

### Aclaracion
Las 3 primeras columnas (YEAR, MONTH, STATE) no consideramos necesario hacerle un analisis mas profundo debido a los datos con los que  estamos trabajando.

### Categorias de Type of Producer

In [82]:
catTypeProducer = energyDataset['TYPE OF PRODUCER'].value_counts()
print(catTypeProducer)

Total Electric Power Industry                       125907
Electric Generators, Electric Utilities              83318
Electric Generators, Independent Power Producers     82695
Combined Heat and Power, Industrial Power            71554
Combined Heat and Power, Commercial Power            47508
Combined Heat and Power, Electric Power              41469
Name: TYPE OF PRODUCER, dtype: int64

### Categorias de ENERGY TYPE

In [83]:
catEnergyType = energyDataset['ENERGY SOURCE'].value_counts()
print(catEnergyType)

Total                             72390
Natural Gas                       64296
Petroleum                         54753
Coal                              43187
Other Biomass                     42819
Hydroelectric Conventional        38332
Other                             29404
Wood and Wood Derived Fuels       26034
Wind                              25003
Solar Thermal and Photovoltaic    18857
Nuclear                           16595
Other Gases                       14632
Geothermal                         4147
Pumped Storage                     2002
Name: ENERGY SOURCE, dtype: int64

### Valores maximo y minimo de Generation megawatts/hour

In [84]:
maxEnergyGen = energyDataset['GENERATION'].max()
minEnergyGen = energyDataset['GENERATION'].min()
print(f'Max energy gen: {maxEnergyGen}\t Min energy gen: {minEnergyGen}')

Max energy gen: 421796659.0	 Min energy gen: 0.01

### Promedio de energia generada en todal

In [85]:
meanEnergyGen = energyDataset['GENERATION'].mean()
print(f'{meanEnergyGen} megawatts/hora')

1531162.2814336556 megawatts/hora

# Graficas

Top 3